Package: suricata
Version: 1.4.1-cyos1
Architecture: amd64
Maintainer: Jim Binder <jbinder@unknown>
Installed-Size: 28496
Depends: libc6 (>= 2.14), libcap-ng0, libmagic1, libnet1 (>= 1.1.2.1), libnetfilter-queue1 (>= 0.0.15), libnfnetlink0 (>= 1.0.0), libpcap0.8 (>= 1.0.0), libpcre3 (>= 8.10), libprelude2, libyaml-0-2, zlib1g (>= 1:1.1.4)
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
